.session-details-enter {
  opacity: 0;
  transform: translateX(0);
}
.session-details-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.session-details-exit {
  opacity: 1;
}
.session-details-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
